<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    
    <script src="./script.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="inner">
          <div class="logo">
              <div>
                  <img src="assets/logo.png" alt="MU restaurant">
              </div>
          </div>
          <nav>
              <!-- <li><span><a href="">About</a></span></li>
              <li><span><a href="">Work</a></span></li>
              <li><span><a href="">History</a></span></li> -->
              <li><span><a href="" class="button">Logout</a></span></li>
          </nav>
      </div>
  </header>

    <div class="content">
      <div id="bill">

        <%if (Receipts.length > 0) { %>
        // Do something with more than 1 recipe
        <h1>HEllo Wolrd</h1>
        <% } %>
      </div>
      

      <div id="poscart">

      <%listReceipt.forEach(Receipt => {%>
        <input class="citem" type="button" value="Đơn hàng <%= Receipt.id %>"  onclick="document.location.href= './cashier/<%= Receipt._id %>'; cnt++;">
        </input>
        <%})%>
      </div>

      <div id="posreceipt"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>


